


//zeplin css
.navbar {
  width: 100%;
  height: 64px;
  object-fit: contain;
  box-shadow: 0 1px 0 0 #373737;
  background-color: #2e2f30;
  text-align: center;
  top: 0;
}

.navbar-text{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.menu-content{
  background: var(--ion-background-color, #fff);
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.half-of-page{
  float: left;
  width: 50%;
}

.footer{
  object-fit: contain;
  box-shadow: 0 1px 0 0 #373737;
  background-color: #2e2f30;
  text-align: center;

  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.button {
  border-radius: 10px;
  width: 100%!important;
  height: 16vh!important;
  object-fit: contain!important;
  border: solid 1px var(--dark-grey)!important;
  background-color: #131415!important;
}

.sqbutton2-press {
  width: 188px;
  height: 130px;
  object-fit: contain;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px var(--dark-grey);
}















//zeplin css

.about-info {
  position: absolute;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
  text-align: center;
}

.about-info h3 {
  margin-top: 0;
}

.about-info ion-list {
  padding-top: 0;
}

.about-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.about-info ion-button {
  height: 100px;
  width: 150px;
}

/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
