ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
  line-height: 2rem;
  color: #fff
}


 
.slide-image {
  max-height: 40%;
  max-width: 60%;
  margin: 25px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
  color: #f15033
}

p {
  color: #fff;
  padding: 0 40px;
  font-size: 16px;
  line-height: 1.5;

  b {
    color: var(--ion-text-color, #f15033);
  }
}

ion-button {
  height: 60px;
  width: 80%;
  margin-bottom: 10px;
  img{
    margin-right: 50px;
  }
  span{
    font-size: 18px;
  }


}
